In [2]:
import pandas as pd 
dados = {'x':[3,2,-1,4],
         'y':[7,5,-1,9]}

df = pd.DataFrame(dados)
df

   x  y
0  3  7
1  2  5
2 -1 -1
3  4  9

In [3]:
df['x^2'] = df['x'] ** 2 
df['y^2'] = df['y'] ** 2 
df['xy']  = df['x'] * df['y']
display(df)

   x  y  x^2  y^2  xy
0  3  7    9   49  21
1  2  5    4   25  10
2 -1 -1    1    1   1
3  4  9   16   81  36

In [4]:
n = len(df)
sx = df['x'].sum()
sy = df['y'].sum()
sx2 = df['x^2'].sum()
sy2 = df['y^2'].sum()
sxy = df['xy'].sum()

print(f'Nó {n}')
print(f'Somatório x:   {sx}')
print(f'Somatório y:   {sy}')
print(f'Somatório x^2: {sx2}')
print(f'Somatório y^2: {sy2}')
print(f'Somatório xy:  {sxy}')

Nó 4
Somatório x:   8
Somatório y:   20
Somatório x^2: 30
Somatório y^2: 156
Somatório xy:  68

In [13]:
cc = ((n*sxy)-(sx*sy))/((n * sx2 - sx**2) * (n * sy2 - sy**2)) ** 0.5
if cc >= 1:
    print(f'Coeficente de Correlaçao Linear é: {cc} e Forte')
elif 0 > cc < 0.5:
    print(f'Coeficente de Correlaçao Linear é: {cc} e Fraco ')
elif -0.5 >= cc <=0:    
    print(f'Coeficente de Correlaçao Linear é: {cc} e Fraco ')
else:
    print(f'Coeficente de Correlaçao Linear é: {cc} e Forte ')

Coeficente de Correlaçao Linear é: 1.0 e Forte

Exercicios:

In [15]:
ex = {'x':[1,2,4,-1],
      'y':[1,-1,-5,5]}

df_ex = pd.DataFrame(ex)
display(df_ex)

   x  y
0  1  1
1  2 -1
2  4 -5
3 -1  5

In [19]:
df_ex['x^2'] = df_ex['x'] ** 2 
df_ex['y^2'] = df_ex['y'] ** 2 
df_ex['xy']  = df_ex['x'] * df_ex['y']
display(df_ex)

   x  y  x^2  y^2  xy
0  1  1    1    1   1
1  2 -1    4    1  -2
2  4 -5   16   25 -20
3 -1  5    1   25  -5

In [20]:
n = len(df_ex)
ex_sx = df_ex['x'].sum()
ex_sy = df_ex['y'].sum()
ex_sx2 = df_ex['x^2'].sum()
ex_sy2 = df_ex['y^2'].sum()
ex_sxy = df_ex['xy'].sum()

print(f'Nó {n}')
print(f'Somatório x:   {ex_sx}')
print(f'Somatório y:   {ex_sy}')
print(f'Somatório x^2: {ex_sx2}')
print(f'Somatório y^2: {ex_sy2}')
print(f'Somatório xy:  {ex_sxy}')

Nó 4
Somatório x:   6
Somatório y:   0
Somatório x^2: 22
Somatório y^2: 52
Somatório xy:  -26


$$ b = \frac{n \sum x_i y_i - \sum x_i \sum y_i}
{\sqrt{(n \sum x_i^2 - (\sum x_i)^2) (n \sum y_i^2 - (\sum y_i)^2)}}$$

In [43]:
numerador = (n * ex_sxy) - (ex_sx * ex_sy)
denominador = ((n * ex_sx2 - ex_sx**2) * (n * ex_sy2 - ex_sy**2)) ** 0.5

if denominador == 0:
    print("O coeficiente de correlação não pode ser calculado (denominador zero).")
else:
    b = numerador / denominador

    if b <= -0.5:
        intensidade = "Forte"
        direcao = "Negativa"
    elif -0.5 < b < 0:
        intensidade = "Fraca"
        direcao = "Negativa"
    elif 0 < b < 0.5:
        intensidade = "Fraca"
        direcao = "Positiva"
    else:  # b >= 0.5
        intensidade = "Forte"
        direcao = "Positiva"

    print(f"Coeficiente de Correlação Linear: {b:.4f} ({intensidade} e {direcao})")

Coeficiente de Correlação Linear: -1.0000 (Forte e Negativa)